*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* container */
.container {
    width: 1296px;
    margin: 0 auto;
}
.row {
    margin-left: -12px;
    margin-right: -12px;
}
.col {
    padding-left: 12px;
    padding-right: 12px;
}
.col-50\% {
    width: 50%;
}

/* btn */
.btn {
    width: 185px;
    height: 48px;
    border-radius: 32px;
}

/* utilities  */

/* width */
.width-50\% {
    width: 50%;
}
.width-526 {
    width: 526px;
}
.width-306 {
    width: 306px;
}

/* font size */
.fz-128 {
    font-size: 128px;
}
.fz-64 {
    font-size: 64px;
}
.fz-24 {
    font-size: 24px;
}
.fz-20 {
    font-size: 20px;
}

/* color */
.text-green {
    color: #00FFA3;
}
.text-white {
    color: #ffffff;
}
.text-navy {
    color: #15161D;
}

/* background-color*/
.bg-black {
    background-color: #000;
}
.bg-white {
    background-color: #fff;
}
/* display */

.d-flex {
    display: flex;
}
.d-block {
    display: block;
}
/* padding */
.py-160 {
    padding: 160px 0;
}
.py-96 {
    padding: 96px 0;
}
.py-52 {
    padding: 52px 0;
}
.py-40 {
    padding: 40px 0;
}
.py-12 {
    padding: 12px 0;
}
.pt-72 {
    padding-top: 72px;
}
.pb-32 {
    padding-bottom: 32px;
}
.pr-16 {
    padding-right: 16px;
}
.p-16 {
    padding: 16px;
}
/* margin */

/* margin-x */
.mx-10 {
    margin: 0 10px;
}

/* margin-top */
.mt-32 {
    margin-top: 32px;
}
.mb-36 {
    margin-bottom: 36px;
}
/*  margin-left*/
.ml-auto {
    margin-left: auto;
}
/* margin-bottom */
.mb-24 {
    margin-bottom: 24px;
}
.mb-4 {
    margin-bottom: 4px;
}
/* flex */

.flex-wrap {
    flex-wrap: wrap;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-space-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.align-content-center {
    align-content: center;
}

/* text-align */
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}